.blue {
  color: #89bcd9;
}

section {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  color: #f8f5ec;
  font-size: 18px;
  display: flex;
  justify-content: center;
  max-width: 960px;
  gap: 20px;
  margin-top: 30px;
  .text-left {
    display: flex;
    flex-direction: column;
    width: 570px;
    gap: 20px;
  }
  .text-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .text-right-content {
      display: flex;
      align-items: center;
      gap: 16px;
      > img {
        height: 30px;
      }
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 2rem;
  width: 960px;
  .mail-name-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    min-width: 200px;
    label {
      font-size: 14px;
      font-weight: 500;
      color: #89bcd9;
      margin-left: 20px;
      &.error {
        color: red;
      }
    }
  }
  textarea {
    height: 226px;
  }
  input,
  textarea {
    padding: 18px;
    font-size: 18px;
    color: #fffdfd;
    border: 1px solid #89bcd9;
    border-radius: 30px;
    width: 100%;
    background: transparent;
    resize: none;
    font-family: "Josefin Sans";
    &:focus {
      background-color: #313f48;
      outline: none;
      box-shadow: none;
    }
    &.error {
      border-color: red;
      &.error::placeholder {
        color: red;
      }
    }
  }
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .privacy {
      display: flex;
      align-items: center;
      max-width: 60%;
      cursor: pointer;
    }
    .btn-container {
      button {
        font-size: 18px;
        padding: 10px 30px;
        background: transparent;
        color: #89bcd9;
        border: #89bcd9 solid 1px;
        border-radius: 30px;
        cursor: pointer;
        transition: all 125ms ease-in-out;
        &:disabled {
          border-color: #8f9190;
          color: #8f9190;
          cursor: default;
        }
        &:not(:disabled):hover {
          background-color: #3f454a;
        }
      }
    }
  }
}

.full-width {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  height: 24px;
  width: 28px;
  background-image: url("/assets/img/icons/checkbox-empty.svg");
  background-size: cover;
  margin-right: 8px;
  margin-bottom: 14px;
  cursor: pointer;

  &.hover {
    background-image: url("/assets/img/icons/checkbox-hover.svg");
  }

  &.checked {
    background-image: url("/assets/img/icons/checkbox-checked.svg");
  }

  &.error {
    background-image: url("/assets/img/icons/checkbox-error.svg") !important;
  }
}

.privacy-text {
  color: #f8f5ec;
  font-size: 14px;
  height: 28px;
  width: 100%;
  > a {
    text-decoration: none;
    color: #89bcd9;
    &:hover {
      color: #f8f5ec;
    }
  }
}

.error-privacy {
  color: red;
  font-size: 14px;
}

.toast-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInOutOverlay 3s forwards;
  z-index: 999;
  .toast {
    text-align: center;
    background-color: #89bcd9;
    color: #f8f5ec;
    padding: 24px 42px;
    border-radius: 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    animation: fadeInOutToast 3s forwards;
    font-size: 18px;
    z-index: 1999;
  }
}

.up-arrow-btn {
  display: none;
  margin-top: 72px;
  > img {
    border-radius: 18px;
    transition: background-color 125ms ease-in-out;
    &:hover {
      background-color: #3d4a52;
      cursor: pointer;
    }
  }
}

@keyframes fadeInOutToast {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeInOutOverlay {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1080px) {
  section {
    padding-top: 60px;
  }

  .text-container {
    flex-direction: column-reverse;
    max-width: 90%;
    .text-left {
      width: 100%;
    }
    .text-right {
      flex-direction: column-reverse;
      .text-right-content {
        gap: 4px;
        > img {
          height: 24px;
        }
      }
    }
  }

  .contact-form {
    max-width: 90%;
    .mail-name-container {
      flex-direction: column;
    }
  }

  .contact-form {
    .form-footer {
      flex-direction: column;
      gap: 26px;
      .privacy {
        max-width: 100%;
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .up-arrow-btn {
    display: block;
  }
}

@media (max-width: 420px) {
  .contact-form {
    .form-footer {
      gap: 58px;
    }
  }
}

@media (max-width: 370px) {
  .text-container {
    font-size: 15.5px;
  }
}
