section {
  color: #f8f5ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 80px;
}

.blue {
  color: #89bcd9;
}

h2 {
  margin-top: 130px;
  margin-bottom: 80px;
}

.text-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  .left-side {
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 32%;
    font-size: 30px;
    margin-top: 18px;
    > img {
      width: 70px;
      height: 60px;
    }
    > span {
      margin-top: 16px;
    }
  }
  .right-side {
    display: flex;
    flex-direction: column;
    width: 32%;
    font-size: 20px;
    > span {
      max-width: 1000px;
    }
    .btn-container {
      display: flex;
      justify-content: end;
      margin-top: 28px;
      text-decoration: none;
      > button {
        font-size: 17px;
        width: 120px;
        height: 48px;
        border-radius: 30px;
        background-color: transparent;
        color: #89bcd9;
        border: #89bcd9 solid 1px;
        transition: background-color 125ms ease-in-out;
        &:hover {
          background-color: #3d4a52;
          cursor: pointer;
        }
      }
    }
  }
}
