<section>
  <h2>Why me</h2>
  <div class="text-container">
    <div class="left-side">
      <img src="./assets/img/icons/location-icon.png" alt="" />
      <span class="blue">I am </span><span> located near Graz..|</span>
    </div>
    <div class="right-side">
      <span
        >I’m passionate about coding because it combines analytical thinking
        with creativity. I enjoy solving problems, finding clean solutions, and
        turning ideas into working features. I’m persistent when things get
        tricky and love collaborating with others to learn, improve, and build
        better products together.</span
      >
      <a class="btn-container" href="#contact">
        <button>Let's talk</button>
      </a>
    </div>
  </div>
</section>
