<section>
  <h2>{{ "why.title" | translate }}</h2>
  <div class="text-container">
    <div class="left-side">
      <img src="./assets/img/icons/location-icon.png" alt="" />
      <span class="blue">{{ "why.location" | translate }}</span
      ><span>{{ "why.text" | translate }}</span>
    </div>
    <div class="right-side">
      <span>{{ "why.reason" | translate }}</span>
      <a class="btn-container" (click)="scrollToSection('contact')">
        <button>{{ "why.talk" | translate }}</button>
      </a>
    </div>
  </div>
</section>
