section {
  color: #f8f5ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 80px;
}

.blue {
  color: #89bcd9;
}

h2 {
  margin-top: 90px;
  margin-bottom: 80px;
}

.text-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  .left-side {
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 32%;
    font-size: 30px;
    margin-top: 18px;
    > img {
      width: 70px;
      height: 60px;
    }
    > span {
      margin-top: 16px;
    }
  }
  .right-side {
    display: flex;
    flex-direction: column;
    width: 32%;
    font-size: 20px;
    > span {
      max-width: 1000px;
    }
    .btn-container {
      display: flex;
      justify-content: end;
      margin-top: 28px;
      text-decoration: none;
      > button {
        font-family: "Josefin Sans";
        font-size: 17px;
        width: 120px;
        height: 48px;
        border-radius: 30px;
        background-color: transparent;
        color: #89bcd9;
        border: #89bcd9 solid 1px;
        transition: background-color 125ms ease-in-out;
        &:hover {
          background-color: #3d4a52;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1368px) {
  h2 {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .text-container {
    flex-direction: column;
    align-items: center;
    gap: 70px;
    .left-side {
      width: 90%;
      justify-content: center;
      margin-top: 0;
      font-size: 22px;
      > img {
        width: 50px;
        height: 40px;
      }
      > span {
        margin-top: 8px;
      }
    }
    .right-side {
      width: 72%;
      justify-content: center;
      text-align: center;
      > span {
        font-size: 18px;
      }
      .btn-container {
        > button {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .text-container {
    .right-side {
      width: 58%;
    }
  }
}

@media (max-width: 690px) {
  .text-container {
    gap: 50px;
    .left-side {
      font-size: 18px;
      > img {
        width: 40px;
        height: 30px;
      }
      > span {
        margin-top: 6px;
      }
    }
    .right-side {
      width: 80%;
      > span {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 470px) {
}
