section {
  display: flex;
  justify-content: center;
  background-color: #89bcd9;
  padding: 0 60px;
}

.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 64px;
  position: relative;
  z-index: 10;
  height: 109px;

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #f8f5ec;
    text-decoration: none;
    cursor: pointer;
    > img {
      height: 32px;
    }
  }

  .anta {
    font-family: "Anta", sans-serif;
  }

  .blue {
    color: #262e34;
  }

  .font-14 {
    font-size: 14px;
  }

  .nav-links {
    display: flex;
    gap: 100px;
    a {
      display: inline-block;
      position: relative;
      padding: 20px;
      text-decoration: none;
      color: #262e34;
      font-weight: 500;
      font-size: 26px;
      z-index: 1;
      cursor: pointer;
      &.active {
        color: #f8f5ec;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background-image: url("/assets/img/icons/ellipse-bg-shape.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          z-index: -1;
        }
      }
      &:hover {
        color: #f8f5ec;
      }
    }
  }

  .de-en-switch {
    cursor: pointer;
  }
}
