<section>
  <header class="header">
    <a class="logo-container" (click)="scrollToTop($event)">
      <img src="./assets/img/icons/logo-dark.svg" alt="" />
      <span class="anta">M.Hofer</span>
      <span class="blue font-14">developer</span>
    </a>

    <div class="nav-container">
      <nav class="nav-links">
        <a
          (click)="scrollToSection('why-me')"
          [class.active]="activeSection === 'why-me'"
          >{{ "nav.why" | translate }}</a
        >
        <a
          (click)="scrollToSection('skills')"
          [class.active]="activeSection === 'skills'"
          >{{ "nav.skills" | translate }}</a
        >
        <a
          (click)="scrollToSection('projects')"
          [class.active]="activeSection === 'projects'"
          >{{ "nav.projects" | translate }}</a
        >
        <a
          (click)="scrollToSection('contact')"
          [class.active]="activeSection === 'contact'"
          >{{ "nav.contact" | translate }}</a
        >
      </nav>
    </div>
    <div>
      <div class="de-en-switch">
        <span (click)="setLanguage('de')" [class.active]="activeLang === 'de'"
          >DE</span
        >
        <span (click)="setLanguage('en')" [class.active]="activeLang === 'en'"
          >EN</span
        >
      </div>
    </div>
  </header>
</section>
