<section>
  <header class="header">
    <div class="logo-container">
      <img src="./assets/img/icons/logo-dark.svg" alt="" />
      <span class="anta">M.Hofer</span>
      <span class="blue font-14">developer</span>
    </div>

    <div class="nav-container">
      <nav class="nav-links">
        <a href="#why-me" [class.active]="activeSection === 'why-me'">Why me</a>
        <a href="#skills" [class.active]="activeSection === 'skills'">Skills</a>
        <a href="#projects" [class.active]="activeSection === 'projects'"
          >Projects</a
        >
        <a href="#contact" [class.active]="activeSection === 'contact'"
          >Contact</a
        >
      </nav>
    </div>
    <div>
      <img src="./assets/img/icons/en-active.svg" alt="" />
    </div>
  </header>
</section>
