section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue {
  color: #89bcd9;
}

.liblue-bg {
  background-color: #89bcd9 !important;
  color: #262e34 !important;
  border: none !important;
  &:hover {
    background-color: #f8f5ec !important;
  }
}

h2 {
  margin-bottom: 80px;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

span {
  font-size: 18px;
}

p {
  margin-bottom: 20px !important;
  font-size: 18px;
}

.mgn-top {
  margin-top: 24px;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 26px;
}

.projects-section {
  width: 100%;
  .tab-bar {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    > button {
      padding: 24px 40px;
      background-color: transparent;
      border: none;
      color: #89bcd9;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      font-size: 30px;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      font-family: "Josefin Sans";

      &.active {
        background-color: #2d383f;
        color: #f8f5ec;
      }

      &:hover {
        color: #f8f5ec;
      }
    }
  }

  .tab-content {
    display: none;
    justify-content: center;
    width: 100%;
    height: 550px;
    background-color: #2d383f;
    padding: 40px 0;
    &.active {
      display: flex;
    }

    .container {
      max-width: 1440px;
      margin: 0;
    }
  }

  .project-detail {
    display: flex;
    gap: 64px;
    justify-content: center;
    flex-wrap: wrap;
    .icon-heading {
      position: relative;
      display: flex;
      align-items: center;

      .heading-icon {
        position: absolute;
        left: -42px;
        width: 20px;
        height: 20px;
      }
    }
    .text-box {
      max-width: 400px;
      color: #f8f5ec;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .image-box {
      display: flex;
      flex-direction: column;
      .image-wrapper {
        position: relative;
        width: 100%;
        height: auto;
        > p {
          text-align: center;
          color: #f8f5ec;
        }
        .technologies-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 28px;
          margin-bottom: 20px;
          > img {
            height: 36px;
          }
        }
        > img {
          max-width: 400px;
          display: block;
        }
        .overlay-text {
          position: absolute;
          top: 64%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #89bcd9;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          pointer-events: none;
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: space-around;
      margin-top: 32px;
      > button {
        font-size: 17px;
        width: 120px;
        height: 48px;
        border-radius: 30px;
        background-color: transparent;
        color: #89bcd9;
        border: #89bcd9 solid 1px;
        transition: background-color 125ms ease-in-out;
        &:hover {
          background-color: #3d4a52;
          cursor: pointer;
        }
      }
    }
  }
}
