<section>
  <h2 class="blue">{{ "nav.projects" | translate }}</h2>
  <div class="projects-section">
    <div class="tab-bar">
      <button
        *ngFor="let project of projects; let i = index"
        (click)="setActiveTab(project.id)"
        [class.active]="activeTab === project.id"
      >
        {{ project.number + (project.titleKey | translate) }}
        <!-- {{
          isSmallScreen
            ? i + 1 + ". Project"
            : project.number + (project.titleKey | translate)
        }} -->
      </button>
    </div>

    <div
      class="tab-content"
      [class.brd-rad-right]="isVerySmallScreen && project.id === 'join'"
      [class.brd-rad-left]="isVerySmallScreen && project.id === 'el-pollo'"
      *ngFor="let project of projects"
      [class.active]="activeTab === project.id"
    >
      <div class="container" *ngIf="activeTab === project.id">
        <h3 class="mobile-text-header" *ngIf="isSmallScreen">
          {{ project.titleKey | translate }}
        </h3>
        <div class="project-detail">
          <div class="text-box">
            <div class="about-container icon-heading">
              <img
                class="heading-icon"
                src="./assets/img/icons/headline-dot.svg"
                alt="icon"
              />
              <h3>{{ "projects.about" | translate }}</h3>
              <span class="mobile-d-none">
                {{ "projects.duration" | translate }}:
                {{ project.duration }}
                {{
                  project.id !== "ongoing"
                    ? ("projects.durationUnit" | translate)
                    : ("projects.pending" | translate)
                }}
              </span>
            </div>
            <p>{{ project.descriptionKey | translate }}</p>
            <p *ngIf="project.id === 'ongoing'">
              {{ "projects.stayTuned" | translate }}
            </p>
            <div class="experience-container">
              <div class="icon-heading" *ngIf="project.groupKey">
                <img
                  class="heading-icon"
                  src="./assets/img/icons/headline-dot.svg"
                  alt="icon"
                />
                <h3>{{ "projects.group" | translate }}</h3>
              </div>
              <p class="mgn-top" *ngIf="project.groupKey">
                {{ project.groupKey | translate }}
              </p>

              <div class="icon-heading" *ngIf="project.soloKey">
                <img
                  class="heading-icon"
                  src="./assets/img/icons/headline-dot.svg"
                  alt="icon"
                />
                <h3>{{ "projects.solo" | translate }}</h3>
              </div>
              <p class="mgn-top" *ngIf="project.soloKey">
                {{ project.soloKey | translate }}
              </p>
            </div>
          </div>
          <div class="image-box">
            <div class="image-wrapper">
              <p class="mobile-d-none">
                {{ "projects.technologies" | translate }}
              </p>
              <p *ngIf="isSmallScreen">
                {{ "projects.technologies" | translate }}:
                {{ project.technologiesText }}
              </p>
              <span *ngIf="isSmallScreen"
                >{{ "projects.duration" | translate }}:
                {{ project.duration }}</span
              >
              <div class="technologies-container" *ngIf="project.technologies">
                <img
                  *ngFor="let tech of project.technologies"
                  [src]="tech"
                  alt="Technology icon"
                />
              </div>
              <img [src]="project.image" [alt]="project.titleKey | translate" />
              <p class="overlay-text" *ngIf="project.id === 'ongoing'">
                {{ "projects.comingSoon" | translate }}
              </p>
            </div>
            <div class="btn-container">
              <a class="liblue-bg" href="{{ project.path }}" target="_blank">
                <button class="dark-blue" *ngIf="project.live">
                  Live Test
                </button>
              </a>
              <a href="{{ project.github }}" target="_blank">
                <button *ngIf="project.live">GitHub</button>
              </a>
            </div>
          </div>
        </div>
        <div class="btn-container-mobile">
          <a class="liblue-bg" href="{{ project.path }}" target="_blank">
            <button class="dark-blue" *ngIf="project.live">Live Test</button>
          </a>
          <a href="{{ project.github }}" target="_blank">
            <button *ngIf="project.live">GitHub</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
