<section>
  <h2 class="blue">My Projects</h2>
  <div class="projects-section">
    <div class="tab-bar">
      <button
        *ngFor="let project of projects; let i = index"
        (click)="setActiveTab(project.id)"
        [class.active]="activeTab === project.id"
      >
        {{
          isSmallScreen ? i + 1 + ". Project" : project.number + project.title
        }}
      </button>
    </div>

    <div
      class="tab-content"
      [class.brd-rad-right]="isVerySmallScreen && project.id === 'ongoing'"
      [class.brd-rad-left]="isVerySmallScreen && project.id === 'el-pollo'"
      *ngFor="let project of projects"
      [class.active]="activeTab === project.id"
    >
      <div class="container" *ngIf="activeTab === project.id">
        <h3 class="mobile-text-header" *ngIf="isSmallScreen">
          {{ project.title }}
        </h3>
        <div class="project-detail">
          <div class="text-box">
            <div class="about-container icon-heading">
              <img
                class="heading-icon"
                src="./assets/img/icons/headline-dot.svg"
                alt="icon"
              />
              <h3>About the project</h3>
              <span class="mobile-d-none"
                >Duration: {{ project.duration }}</span
              >
            </div>
            <p>{{ project.description }}</p>
            <p *ngIf="project.id === 'ongoing'">Stay tuned for Updates!</p>
            <div class="experience-container">
              <div class="icon-heading" *ngIf="project.group">
                <img
                  class="heading-icon"
                  src="./assets/img/icons/headline-dot.svg"
                  alt="icon"
                />
                <h3>My group work experience</h3>
              </div>
              <p class="mgn-top" *ngIf="project.group">{{ project.group }}</p>

              <div class="icon-heading" *ngIf="project.solo">
                <img
                  class="heading-icon"
                  src="./assets/img/icons/headline-dot.svg"
                  alt="icon"
                />
                <h3>What I have learnt</h3>
              </div>
              <p class="mgn-top" *ngIf="project.solo">{{ project.solo }}</p>
            </div>
          </div>
          <div class="image-box">
            <div class="image-wrapper">
              <p class="mobile-d-none">Technologies</p>
              <p *ngIf="isSmallScreen">
                Technologies: {{ project.technologiesText }}
              </p>
              <span *ngIf="isSmallScreen"
                >Duration: {{ project.duration }}</span
              >
              <div class="technologies-container" *ngIf="project.technologies">
                <img
                  *ngFor="let tech of project.technologies"
                  [src]="tech"
                  alt="Technology icon"
                />
              </div>
              <img [src]="project.image" [alt]="project.title" />
              <p class="overlay-text" *ngIf="project.id === 'ongoing'">
                Coming soon...
              </p>
            </div>
            <div class="btn-container">
              <button class="liblue-bg" *ngIf="project.live">Live Test</button>
              <button *ngIf="project.live">GitHub</button>
            </div>
          </div>
        </div>
        <div class="btn-container-mobile">
          <button class="liblue-bg" *ngIf="project.live">Live Test</button>
          <button *ngIf="project.live">GitHub</button>
        </div>
      </div>
    </div>
  </div>
</section>
