section {
  color: #f8f5ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  margin-bottom: 60px;
}

h2 {
  margin-bottom: 80px;
}

.text-container {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 80px;
  margin: 0;
  .left-side {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 40px;
    justify-items: center;
    > img {
      height: 120px;
      object-fit: contain;
      display: block;
    }
  }
  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 420px;
    width: 380px;
    font-size: 20px;
    gap: 20px;
    .bg-shape {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: none;
    }
    .learn-icon-container {
      display: flex;
      gap: 20px;
      .learn-icon {
        height: 68px;
      }
    }

    > span {
      text-align: center;
      width: 80%;
    }
  }
}
.btn-wrapper {
  display: none;
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    > button {
      font-family: "Josefin Sans";
      font-size: 17px;
      width: 120px;
      height: 48px;
      border-radius: 30px;
      background-color: #89bcd9;
      color: #262e34;
      border: none;
      transition: background-color 125ms ease-in-out;
      &:hover {
        background-color: #f8f5ec;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1080px) {
  h2 {
    margin-bottom: 40px;
  }
  section {
    padding-top: 50px;
    margin-bottom: 20px;
  }
  .text-container {
    flex-direction: column;
    gap: 40px;
    .right-side {
      height: 300px;
      width: 340px;
      margin: 0 auto;
    }
  }
  .btn-wrapper {
    display: block;
  }
}

@media (max-width: 700px) {
  .text-container {
    .left-side {
      gap: 20px;
      max-width: 300px;
      margin: 0 auto;
      > img {
        height: 60px;
      }
    }
    .right-side {
      width: 280px;
      font-size: 16px;
      .learn-icon-container {
        .learn-icon {
          height: 54px;
        }
      }
    }
  }
}
