<section>
  <h2 class="blue">{{ "skills.title" | translate }}</h2>
  <div class="text-container">
    <div class="left-side">
      <img
        *ngFor="let icon of skillIcons"
        [src]="'./assets/img/icons/' + icon"
        [alt]="icon"
      />
    </div>
    <div class="right-side">
      <img
        class="bg-shape"
        src="./assets/img/icons/skill-bg-shape.svg"
        alt=""
      />
      <span>{{ "skills.learning" | translate }}</span>
      <div class="learn-icon-container">
        <img
          class="learn-icon"
          src="./assets/img/icons/react-skill.svg"
          alt=""
        />
        <img
          class="learn-icon"
          src="./assets/img/icons/vuejs-skill.svg"
          alt=""
        />
      </div>
      <span [innerHTML]="'skills.followup' | translate"></span>
    </div>
    <div class="btn-wrapper">
      <a class="btn-container" (click)="goToSection('contact')">
        <button>{{ "skills.talk" | translate }}</button>
      </a>
    </div>
  </div>
</section>
