<section>
  <h2 class="blue">My Skills</h2>
  <div class="text-container">
    <div class="left-side">
      <img
        *ngFor="let icon of skillIcons"
        [src]="'./assets/img/icons/' + icon"
        [alt]="icon"
      />
    </div>
    <div class="right-side">
      <img
        class="bg-shape"
        src="./assets/img/icons/skill-bg-shape.svg"
        alt=""
      />
      <span>I am currently learning</span>
      <div class="learn-icon-container">
        <img
          class="learn-icon"
          src="./assets/img/icons/react-skill.svg"
          alt=""
        />
        <img
          class="learn-icon"
          src="./assets/img/icons/vuejs-skill.svg"
          alt=""
        />
      </div>
      <span
        >and I'm excited <br />
        to show you more of that <br />
        once I'm finished.</span
      >
    </div>
  </div>
</section>
