<app-header></app-header>
<section>
  <div class="content-wrapper">
    <a href="">
      <img src="./assets/img/icons/arrow-mobile.svg" alt="" />
    </a>
    <h2>{{ "imprint.title" | translate }}</h2>
    <h3>{{ "imprint.nameTitle" | translate }}</h3>
    <span>
      Matthias Hofer <br />
      Paldau 321 / 3 <br />
      8341 Paldau <br />
      {{ "imprint.country" | translate }}
    </span>
    <h3>{{ "imprint.contactTitle" | translate }}</h3>
    <span
      >{{ email }} <br />
      +43 650 28 23 069
    </span>
    <h3>{{ "imprint.responsibleTitle" | translate }}</h3>
    <span>Matthias Hofer</span>
    <h3>{{ "imprint.disclaimerTitle" | translate }}</h3>
    <span [innerHTML]="'imprint.disclaimer1' | translate"></span>
    <br /><br />
    <span [innerHTML]="'imprint.disclaimer2' | translate"></span>
    <h3>{{ "imprint.copyrightTitle" | translate }}</h3>
    <span [innerHTML]="'imprint.copyright1' | translate"></span>
    <br /><br />
    <span [innerHTML]="'imprint.copyright2' | translate"></span>
  </div>
</section>
<div class="burger-menu" (click)="toggleMenu()">
  <img [src]="currentIcon" alt="Menu icon" />
</div>
<div class="mobile-logo-container">
  <img src="./assets/img/icons/logo-icon.svg" alt="" />
  <span class="anta">M.Hofer</span>
  <span class="blue">developer</span>
</div>
<nav class="mobile-nav" *ngIf="menuOpen">
  <div class="de-en-switch">
    <span (click)="setLanguage('de')" [class.active]="activeLang === 'de'"
      >DE</span
    >
    <span (click)="setLanguage('en')" [class.active]="activeLang === 'en'"
      >EN</span
    >
  </div>
</nav>
<app-footer></app-footer>
