*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #262e34;
  font-family: "Josefin Sans", sans-serif;
}

@font-face {
  font-family: "Anta";
  src: url("/assets/fonts/anta.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/assets/fonts/josefin-sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "Anta";
  font-size: 60px;
  color: #89bcd9;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d383f;
}

::-webkit-scrollbar-thumb {
  background: #89bcd965;
  border-radius: 4px;
}
