<footer>
  <div class="content-wrapper">
    <div class="footer-left">
      <a routerLink="/imprint">{{ "footer.legal" | translate }}</a>
      <div class="copyright">
        <span>© Matthias Hofer 2025</span>
      </div>
    </div>
    <div class="footer-mid">
      <img src="./assets/img/icons/logo-dark.svg" alt="" />
      <span class="anta">M.Hofer</span>
      <span class="blue font-14">developer</span>
    </div>
    <div class="footer-right">
      <a class="icon-wrapper" href="mailto:contact@matthias-hofer.com">
        <img
          src="./assets/img/icons/mail-icon-footer.svg"
          alt="Mail"
          class="default"
        />
        <img
          src="./assets/img/icons/mail-icon-footer-hover.svg"
          alt="Mail"
          class="hover"
        />
      </a>
      <a
        class="icon-wrapper"
        href="https://github.com/matthofer"
        target="_blank"
        rel="noopener"
      >
        <img
          src="./assets/img/icons/github-icon-footer.svg"
          alt="GitHub"
          class="default"
        />
        <img
          src="./assets/img/icons/github-icon-footer-hover.svg"
          alt="GitHub"
          class="hover"
        />
      </a>
      <a
        class="icon-wrapper"
        href="https://www.linkedin.com/in/matthias-hofer-93745136a/"
        target="_blank"
        rel="noopener"
      >
        <img
          src="./assets/img/icons/linkedin-icon-footer.svg"
          alt="LinkedIn"
          class="default"
        />
        <img
          src="./assets/img/icons/linkedin-icon-footer-hover.svg"
          alt="LinkedIn"
          class="hover"
        />
      </a>
    </div>
  </div>
</footer>
